@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, sans-serif;
}

.header-container{
    max-width: 1920px;
    width: 100%;
    height: 212px;
    display: flex;
    align-items: center;
    gap:72px;
}

.header-logo{
    font-size: 36px;
    font-weight: 700;
    color: #d8d8d8;
    text-align: left;
    margin-left: 102px;
    
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1186px;
    height: 100px;
    background-color: black;
    border-radius: 100px;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 40px;
    font-size: 36px;
    
}

.nav-links a{
    text-decoration: none;
    color: #d8d8d8;
}

